/*---------------------------------------------------------
 CALL OUT
 Creates a bold text treatment
-------------------------------------------------------- */

.call-out.builder-section-text {
  @include rem('padding-top',25px);
  .builder-section-content {
    font-size: 1.2em;
    max-width: $callout-max-width;
    a {
      @extend .highlight;
      border-bottom: 2px solid darken($highlight,20%);
    }
    p {
      margin-bottom: 1em;
      &:last-child { margin-bottom: 0; }
    }
    @include for(small) {
      font-size: $callout-font-size;
      line-height: $callout-line-height;
    }
  }
}

.call-out.builder-section-postlist {
  &:before {
    content: "";
    position: absolute;
    border-color: $primary transparent transparent $primary;
    border-width: 20px;
    border-style: solid;
    top: 0;
    left: 0;
  }
}

.call-out.builder-section-text {
  @include rem('padding',10px 0);
}

.call-out.has-background {}

@include for('medium'){
  .call-out.builder-section-text {
    @include rem('padding',25px 0);
  }
}

@include for('large'){
  .call-out.builder-section-text {
    @include rem('padding',50px 0);
  }
}
