.cta.builder-section {
  @include rem('padding',10px 0);
}

.cta.has-background {}

@include for('medium'){
  .cta.builder-section {
    @include rem('padding',25px 0);
  }
}

@include for('large'){
  .cta.builder-section {
    @include rem('padding',50px 0);
  }
}
