/*---------------------------------------------------------
 Doodles
-------------------------------------------------------- */

/// Mixin to prefix a property
/// @param {String} $w - width of element
/// @param {String} $h - height of element
/// @param {int} $o - opacity number between 0 and 1
@mixin doodle($w:$doodle-width,$h:$doodle-width,$o:.4) {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $w;
  height: $h;
  position: absolute;
  opacity: $o;
  @include below(small) {
    opacity: $o / 2;
    left: calc(50% - 200px);
  }
  @include media-up(2000px) {
    width: $w * 1.5;
    height: $h * 1.5;
  }
}

.home {
  .builder-section-content {
    position: unset;
    > * {
      position: relative;
      z-index: 1;
    }
  }
  .builder-section:first-child,
  .builder-section-postlist { overflow: hidden; }
  // Top section
  .builder-section:first-child .builder-section-content:before {
    background-image: url($doodle-authenticity);
    transform: scaleX(-1);
    left:0;
    top:0;
  }
  .builder-section:first-child .builder-section-content:after {
    background-image: url($doodle-prefiguration);
    transform: rotate(130deg);
    bottom:0;
    right:0;
  }
  .builder-section:first-child .builder-section-content:before,
  .builder-section:first-child .builder-section-content:after {
    @include doodle();
  }
  // Post list section
  .builder-section-postlist .builder-section-content:before {
    left: 10px;
    @include doodle();
    background-image: url($doodle-transparency);
    transform: rotate(60deg);
    top: calc(50% - #{$doodle-width / 2});
  }
}

.site-footer {
  position: relative;
  overflow: hidden;
  .container:before {
    @include doodle($w:500px);
    background-image: url($doodle-connection);
    right: 10px;
    top: 10px;
  }
  .container > * {
    position: relative;
    z-index: 1;
  }
}
