/*---------------------------------------------------------
 Site Footer
-------------------------------------------------------- */

.footer-navigation {
  clear: both;
  .menu { padding: 0; }
  .menu-item {
    list-style: none;
    padding: 0;
    a {
      color: $footer-menu-font-color;
      display: block;
      font-family: $footer-menu-font-family;
      text-transform: uppercase;
      &:hover { color: $primary; }
    }
    &.current_page_item a {
      color: $primary;
    }
  }
  @include for(small){
    .menu-item {
      border: 0;
      display: inline-block;
      a {
        display: inline-block;
        @include rem('padding',15px);
      }
      &:first-child a {
        padding-left: 0;
      }
      &:last-child a {
        padding-right: 0
      }
    }
  }
  @include for(medium) {
    .footer-nav-image {
      float: left;
      @include rem('margin-right',30px);
    }
  }
}
