/*---------------------------------------------------------
 Forms
-------------------------------------------------------- */

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  background-color: #fff !important;
  border: 1px solid $light;
  border-left-width: 2px;
  border-radius: $input-radius;
  box-shadow: 0 0 3px 0 rgba($dark,0.25);
  padding: .6em;
  max-width: 600px;
  margin-right: 1em;
  transition: 500ms;
  &:focus {
    border-left-color: $primary !important;
    transition: 80ms;
  }
  @include placeholder{
    color: $light;
  }
  @include below(small){
    &:not(:last-child){ margin-bottom: 1em; }
    margin-right: 0;
    width: 100%;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  text-transform: uppercase;
}
