/*---------------------------------------------------------
 Global
-------------------------------------------------------- */
.btn,
.ttfmake-button,
.ttfmake-button,
.site-main .gform_wrapper .gform_footer input.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include btn;
}

.white { color: #ffffff; }

.highlight {
  background-color: $highlight;
  color: $dark;
  font-weight: normal;
  box-shadow: $highlight-padding 0 0 $highlight, -$highlight-padding 0 0 $highlight;
  @include prefix(box-decoration-break, clone, webkit ms o);
  &:hover {
    background-color: $highlight-hover;
    box-shadow: $highlight-padding 0 0 $highlight-hover, -$highlight-padding 0 0 $highlight-hover;
  }
}

// Global

blockquote {
  border-color: $medium;
  border-style: solid;
  border-width: 1px 0 2px;
  @include rem('margin', 32px -32px);
  @include rem('padding', 32px 16px 16px);
  p {
    font-size: 1.2em;
    line-height: $callout-line-height -.25;
  }
  @include for('medium'){
    p {
      font-size: $callout-font-size;
      line-height: $callout-line-height;
    }
  }
}

.alignright,
.alignleft,
.entry-thumbnail.thumbnail {
  @include rem('margin-bottom', 0px);
}

.entry-content {
  .alignleft:only-of-type {
    @include rem('margin-left', -32px);
  }
  .alignright:only-of-type {
    @include rem('margin-right', -32px);
  }
}

@include for(medium){
  .single-post .entry-content {
    max-width: $callout-max-width;
    margin: 0 auto;
  }
}

@include media-up(1180px){
  .entry-content {
    .alignleft:only-of-type {
      @include rem('margin-left', -100px);
    }
    .alignright:only-of-type {
      @include rem('margin-right', -100px);
    }
  }
}

// Post sections

.section-title {
  font-family: $body-font-family;
  @include rem('font-size',40px);
  text-transform: none;
}

.builder-section-postlist {
  .builder-post-list-section-title {
    @extend .section-title;
  }
}

.ttfmp-post-list-item-title a {
  @extend .highlight;
  padding: 2px 0;
  font-weight: bold;
}

.ttfmp-post-list-item-date a { font-weight: normal; }

.ttfmp-post-list-item-content {
  .more-link { display: none; }
}
