/*---------------------------------------------------------
 Site Header
-------------------------------------------------------- */
.site-header-main {
  padding: 0;
  > .container { padding: 0; }
}

.site-header-main .container { max-width: $nav-max-width; }

.site-branding {
  float: none;
  @include rem('padding',25px);
  width: auto;
  max-width: unset;
  a.custom-logo-link {
    display: block;
    margin-bottom: 0;
    img { display: block; }
  }
}

.site-navigation {
  float: none;
  max-width: 100%;
  box-shadow: $box-shadow;
}

// Small screen menu toggle
.menu-toggle {
  background-color: darken($white,2%);
  box-shadow: inset $box-shadow;
  color: $body-font-color;
  margin: 0;
  @include rem('padding',20px 25px);
}

.site-navigation .nav-menu li a {
  border-bottom-color: $light;
  @include rem('padding',25px);
}

@include for(medium){
  .site-navigation { text-align: center; }

  .site-navigation .nav-menu li {
    a {
      border-style: solid;
      border-width: 3px 0;
      border-color: transparent;
    }
    &.current-menu-item a,
    a:hover {
      color: $dark !important;
      border-bottom-color: $primary;
    }
  }
}
