/*---------------------------------------------------------
 Mixins
-------------------------------------------------------- */

// Buttons
@mixin btn(
  $bg: $btn-color,
  $bg-hover: $btn-color-hover,
  $color: $btn-font-color,
  $color-hover: $btn-font-color-hover,
  $radius: $btn-radius
  )
{
  background: $bg;
  border-radius: $radius;
  border: 1px solid $bg;
  color: $white;
  font-size: 1em;
  padding: $input-padding;
  vertical-align: middle;
  &:active,
  &:focus,
  &:hover {
    background-color: $bg-hover;
    border-color: $bg-hover;
    color: $color-hover;
  }
}

$baseline-px: 10px;

// Prints px and rem values
// usage: @include rem('font-size', 17px);
@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem;
  // Print the first line in pixel values
  #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: unquote("");
    @each $value in $px-values {
      // If the value is zero, return 0
      @if $value == 0 {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    // Return the property and its list of converted values
    #{$property}: $rem-values; }
}

//Break points
$one:            600px;
$two:            800px;
$three:          1100px;

// @media mixins
// for(small|medium|large)

@mixin for($media) {
  @if $media == small {
    @media screen and (min-width: $one) { @content; }
  }
  @else if $media == medium {
    @media screen and (min-width: $two) { @content; }
  }
  @else if $media == large {
    @media screen and (min-width: $three) { @content; }
  }
}

@mixin below($media) {
  @if $media == small {
    @media screen and (max-width: $one) { @content; }
  }
  @else if $media == medium {
    @media screen and (max-width: $two) { @content; }
  }
  @else if $media == large {
    @media screen and (max-width: $three) { @content; }
  }
}

@mixin media-up($px) {
  @media screen and (min-width: $px){ @content; }
}

@mixin media-dn($px) {
  @media screen and (max-width: $px){ @content; }
}

@mixin media-btw($low-px, $high-px) {
  @media screen and (min-width: $low-px) and (max-width: $high-px){ @content; }
}

/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

/// Mixin to set input placeholder style
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder {  @content; }
  &:-ms-input-placeholder { @content; }
}
