/*---------------------------------------------------------
 Plugins
-------------------------------------------------------- */

// Calendly schedule call button
html .calendly-badge-widget {
  .calendly-badge-content {
    color: #222;
    white-space: nowrap;

    border-radius: 3px !important;
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1em !important;
    font-weight: normal !important;
    padding: 0.6em 1.2em !important;
    vertical-align: middle !important;
    text-transform: uppercase;
    &:hover {
        background-color: #c7e600 !important;
    }
  }
  @include below(small) {
    display: none;
  }
}