// Brand colors

$magenta:     #bc00b8;
$indigo:      #2a3073;
$yellow:      #ddff00;
$almostblack: #171717;
$gray:        #3d3d3d;
$xlight:      #d0d0d0;

// Base colors

$primary:    $magenta;
$secondary:  $indigo;
$highlight:  $yellow;
$dark:       $almostblack;
$medium:     $gray;
$light:      $xlight;
$white:      #fff;
$black:      $dark;

// Base

$type-sans-serif: 'Work Sans', Helvetica, Arial, sans-serif;
$type-serif:      'Martel', Georgia, Times, 'Times New Roman', serif;
$type-mono:       'Source Code Pro', Courier, mono;

$type-light:      300;
$type-normal:     400;
$type-semibold:   500;
$type-bold:       700;

$nav-max-width:      100%; //default 1024px
$nav-branding-width: 190px;

$box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.24);

// link highlight

$highlight-hover:   darken($highlight, 5%);
$highlight-padding: .25em;

// Typography

$body-font-color:      $dark;
$body-font-color-alt:  $white;
$body-font-family:     $type-serif;
$body-font-size:       inherit;
$body-font-weight:     inherit;

$anchor-font-color:      $primary;
$anchor-font-color-alt:  $secondary;
$anchor-font-family:     $type-serif;
$anchor-font-size:       inherit;
$anchor-font-weight:     $type-bold;

$h2-font-color:    $secondary;
$h2-font-family:   $type-serif;
$h2-font-size:     inherit;
$h2-font-weight:   inherit;

$h3-font-color:      $secondary;
$h3-font-color-alt:  $white;
$h3-font-family:     $type-serif;
$h3-font-size:       inherit;
$h3-font-weight:     inherit;

// Buttons

$btn-color:           $primary;
$btn-color-hover:     $dark;

$btn-radius:          3px;
$btn-font-color:      $white;
$btn-font-color-hover:$light;
$btn-font-family:     $type-sans-serif;
$btn-font-size:       inherit;
$btn-font-weight:     inherit;

// Forms & Input

$input-padding:   .6em 1.2em;
$input-radius:    $btn-radius;

// Call Out

$callout-max-width:   800px;
$callout-font-size:   1.5em;
$callout-line-height: 2;

// CTA

$btn-cta-color:       $secondary;
$btn-cta-color-hover: $dark;

$cta-font-color:      $white;
$cta-font-family:     $body-font-family;
$cta-font-size:       1.25em;
$cta-font-weight:     $type-normal;

// Footer

$footer-bg:                   $medium;
$footer-menu-font-color:      darken($light,20%);
$footer-menu-font-color-alt:  $body-font-color-alt;
$footer-menu-font-family:     $type-sans-serif;
$footer-menu-font-size:       inherit;
$footer-menu-font-weight:     inherit;

// doodles

$doodle-width:  400px;

$doodle-authenticity:      'public/img/doodles-authenticity-1.png';
$doodle-autonomy:          'public/img/doodles-autonomy-1.png';
$doodle-balance:           'public/img/doodles-balance-1.png';
$doodle-connection:        'public/img/doodles-connection-1.png';
$doodle-efficacy:          'public/img/doodles-efficacy-1.png';
$doodle-impact:            'public/img/doodles-impact-1.png';
$doodle-prefiguration:     'public/img/doodles-prefiguration-1.png';
$doodle-transparency:      'public/img/doodles-transparency-1.png';
