/**
 * Theme Name:  Good Good Work Make Child Template
 * Theme URI:   https://goodgoodwork.io
 * Author:      Good Good Work
 * Author URI:  https://goodgoodwork.io
 * Description: A custom child theme for Make
 * Version:     1.1.0
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Template: make
 * Text Domain: make-child
 * Domain Path: /languages/
 * Tags:        black, blue, green, gray, orange, red, white, yellow, dark, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, buddypress, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging
 *
 * Make WordPress Theme, Copyright 2015 The Theme Foundry
 * Make is distributed under the terms of the GNU GPL
 */
/*---------------------------------------------------------
 Mixins
-------------------------------------------------------- */
/*---------------------------------------------------------
 Global
-------------------------------------------------------- */
.btn,
.ttfmake-button,
.ttfmake-button,
.site-main .gform_wrapper .gform_footer input.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background: #bc00b8;
  border-radius: 3px;
  border: 1px solid #bc00b8;
  color: #fff;
  font-size: 1em;
  padding: 0.6em 1.2em;
  vertical-align: middle;
}
.btn:active, .btn:focus, .btn:hover,
.ttfmake-button:active,
.ttfmake-button:focus,
.ttfmake-button:hover,
.ttfmake-button:active,
.ttfmake-button:focus,
.ttfmake-button:hover,
.site-main .gform_wrapper .gform_footer input.button:active,
.site-main .gform_wrapper .gform_footer input.button:focus,
.site-main .gform_wrapper .gform_footer input.button:hover,
button:active,
button:focus,
button:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: #171717;
  border-color: #171717;
  color: #d0d0d0;
}

.white {
  color: #ffffff;
}

.highlight, .call-out.builder-section-text .builder-section-content a, .ttfmp-post-list-item-title a {
  background-color: #ddff00;
  color: #171717;
  font-weight: normal;
  box-shadow: 0.25em 0 0 #ddff00, -0.25em 0 0 #ddff00;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
.highlight:hover, .call-out.builder-section-text .builder-section-content a:hover, .ttfmp-post-list-item-title a:hover {
  background-color: #c7e600;
  box-shadow: 0.25em 0 0 #c7e600, -0.25em 0 0 #c7e600;
}

blockquote {
  border-color: #3d3d3d;
  border-style: solid;
  border-width: 1px 0 2px;
  margin: 32px -32px;
  margin: 3.2rem -3.2rem;
  padding: 32px 16px 16px;
  padding: 3.2rem 1.6rem 1.6rem;
}
blockquote p {
  font-size: 1.2em;
  line-height: 2 -0.25;
}
@media screen and (min-width: 800px) {
  blockquote p {
    font-size: 1.5em;
    line-height: 2;
  }
}

.alignright,
.alignleft,
.entry-thumbnail.thumbnail {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.entry-content .alignleft:only-of-type {
  margin-left: -32px;
  margin-left: -3.2rem;
}
.entry-content .alignright:only-of-type {
  margin-right: -32px;
  margin-right: -3.2rem;
}

@media screen and (min-width: 800px) {
  .single-post .entry-content {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1180px) {
  .entry-content .alignleft:only-of-type {
    margin-left: -100px;
    margin-left: -10rem;
  }
  .entry-content .alignright:only-of-type {
    margin-right: -100px;
    margin-right: -10rem;
  }
}
.section-title, .builder-section-postlist .builder-post-list-section-title {
  font-family: "Martel", Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  font-size: 4rem;
  text-transform: none;
}

.ttfmp-post-list-item-title a {
  padding: 2px 0;
  font-weight: bold;
}

.ttfmp-post-list-item-date a {
  font-weight: normal;
}

.ttfmp-post-list-item-content .more-link {
  display: none;
}

/*---------------------------------------------------------
 Forms
-------------------------------------------------------- */
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  background-color: #fff !important;
  border: 1px solid #d0d0d0;
  border-left-width: 2px;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(23, 23, 23, 0.25);
  padding: 0.6em;
  max-width: 600px;
  margin-right: 1em;
  transition: 500ms;
}
textarea:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus {
  border-left-color: #bc00b8 !important;
  transition: 80ms;
}
textarea::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=datetime]::-webkit-input-placeholder,
input[type=datetime-local]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=month]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=time]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=week]::-webkit-input-placeholder {
  color: #d0d0d0;
}
textarea:-moz-placeholder,
input[type=date]:-moz-placeholder,
input[type=datetime]:-moz-placeholder,
input[type=datetime-local]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=month]:-moz-placeholder,
input[type=number]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=text]:-moz-placeholder,
input[type=time]:-moz-placeholder,
input[type=url]:-moz-placeholder,
input[type=week]:-moz-placeholder {
  color: #d0d0d0;
}
textarea::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=datetime]::-moz-placeholder,
input[type=datetime-local]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=month]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=time]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=week]::-moz-placeholder {
  color: #d0d0d0;
}
textarea:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=datetime]:-ms-input-placeholder,
input[type=datetime-local]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=month]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=time]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=week]:-ms-input-placeholder {
  color: #d0d0d0;
}
@media screen and (max-width: 600px) {
  textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
    margin-right: 0;
    width: 100%;
  }
  textarea:not(:last-child),
input[type=date]:not(:last-child),
input[type=datetime]:not(:last-child),
input[type=datetime-local]:not(:last-child),
input[type=email]:not(:last-child),
input[type=month]:not(:last-child),
input[type=number]:not(:last-child),
input[type=password]:not(:last-child),
input[type=search]:not(:last-child),
input[type=tel]:not(:last-child),
input[type=text]:not(:last-child),
input[type=time]:not(:last-child),
input[type=url]:not(:last-child),
input[type=week]:not(:last-child) {
    margin-bottom: 1em;
  }
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  text-transform: uppercase;
}

/*---------------------------------------------------------
 Site Header
-------------------------------------------------------- */
.site-header-main {
  padding: 0;
}
.site-header-main > .container {
  padding: 0;
}

.site-header-main .container {
  max-width: 100%;
}

.site-branding {
  float: none;
  padding: 25px;
  padding: 2.5rem;
  width: auto;
  max-width: unset;
}
.site-branding a.custom-logo-link {
  display: block;
  margin-bottom: 0;
}
.site-branding a.custom-logo-link img {
  display: block;
}

.site-navigation {
  float: none;
  max-width: 100%;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.24);
}

.menu-toggle {
  background-color: #fafafa;
  box-shadow: inset 0 1px 3px 0px rgba(0, 0, 0, 0.24);
  color: #171717;
  margin: 0;
  padding: 20px 25px;
  padding: 2rem 2.5rem;
}

.site-navigation .nav-menu li a {
  border-bottom-color: #d0d0d0;
  padding: 25px;
  padding: 2.5rem;
}

@media screen and (min-width: 800px) {
  .site-navigation {
    text-align: center;
  }

  .site-navigation .nav-menu li a {
    border-style: solid;
    border-width: 3px 0;
    border-color: transparent;
  }
  .site-navigation .nav-menu li.current-menu-item a,
.site-navigation .nav-menu li a:hover {
    color: #171717 !important;
    border-bottom-color: #bc00b8;
  }
}
/*---------------------------------------------------------
 Site Footer
-------------------------------------------------------- */
.footer-navigation {
  clear: both;
}
.footer-navigation .menu {
  padding: 0;
}
.footer-navigation .menu-item {
  list-style: none;
  padding: 0;
}
.footer-navigation .menu-item a {
  color: #9d9d9d;
  display: block;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.footer-navigation .menu-item a:hover {
  color: #bc00b8;
}
.footer-navigation .menu-item.current_page_item a {
  color: #bc00b8;
}
@media screen and (min-width: 600px) {
  .footer-navigation .menu-item {
    border: 0;
    display: inline-block;
  }
  .footer-navigation .menu-item a {
    display: inline-block;
    padding: 15px;
    padding: 1.5rem;
  }
  .footer-navigation .menu-item:first-child a {
    padding-left: 0;
  }
  .footer-navigation .menu-item:last-child a {
    padding-right: 0;
  }
}
@media screen and (min-width: 800px) {
  .footer-navigation .footer-nav-image {
    float: left;
    margin-right: 30px;
    margin-right: 3rem;
  }
}

.cta.builder-section {
  padding: 10px 0;
  padding: 1rem 0;
}

@media screen and (min-width: 800px) {
  .cta.builder-section {
    padding: 25px 0;
    padding: 2.5rem 0;
  }
}
@media screen and (min-width: 1100px) {
  .cta.builder-section {
    padding: 50px 0;
    padding: 5rem 0;
  }
}
/*---------------------------------------------------------
 CALL OUT
 Creates a bold text treatment
-------------------------------------------------------- */
.call-out.builder-section-text {
  padding-top: 25px;
  padding-top: 2.5rem;
}
.call-out.builder-section-text .builder-section-content {
  font-size: 1.2em;
  max-width: 800px;
}
.call-out.builder-section-text .builder-section-content a {
  border-bottom: 2px solid #859900;
}
.call-out.builder-section-text .builder-section-content p {
  margin-bottom: 1em;
}
.call-out.builder-section-text .builder-section-content p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 600px) {
  .call-out.builder-section-text .builder-section-content {
    font-size: 1.5em;
    line-height: 2;
  }
}

.call-out.builder-section-postlist:before {
  content: "";
  position: absolute;
  border-color: #bc00b8 transparent transparent #bc00b8;
  border-width: 20px;
  border-style: solid;
  top: 0;
  left: 0;
}

.call-out.builder-section-text {
  padding: 10px 0;
  padding: 1rem 0;
}

@media screen and (min-width: 800px) {
  .call-out.builder-section-text {
    padding: 25px 0;
    padding: 2.5rem 0;
  }
}
@media screen and (min-width: 1100px) {
  .call-out.builder-section-text {
    padding: 50px 0;
    padding: 5rem 0;
  }
}
/*---------------------------------------------------------
 Doodles
-------------------------------------------------------- */
.home .builder-section-content {
  position: unset;
}
.home .builder-section-content > * {
  position: relative;
  z-index: 1;
}
.home .builder-section:first-child,
.home .builder-section-postlist {
  overflow: hidden;
}
.home .builder-section:first-child .builder-section-content:before {
  background-image: url("public/img/doodles-authenticity-1.png");
  transform: scaleX(-1);
  left: 0;
  top: 0;
}
.home .builder-section:first-child .builder-section-content:after {
  background-image: url("public/img/doodles-prefiguration-1.png");
  transform: rotate(130deg);
  bottom: 0;
  right: 0;
}
.home .builder-section:first-child .builder-section-content:before,
.home .builder-section:first-child .builder-section-content:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  position: absolute;
  opacity: 0.4;
}
@media screen and (max-width: 600px) {
  .home .builder-section:first-child .builder-section-content:before,
.home .builder-section:first-child .builder-section-content:after {
    opacity: 0.2;
    left: calc(50% - 200px);
  }
}
@media screen and (min-width: 2000px) {
  .home .builder-section:first-child .builder-section-content:before,
.home .builder-section:first-child .builder-section-content:after {
    width: 600px;
    height: 600px;
  }
}
.home .builder-section-postlist .builder-section-content:before {
  left: 10px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  position: absolute;
  opacity: 0.4;
  background-image: url("public/img/doodles-transparency-1.png");
  transform: rotate(60deg);
  top: calc(50% - 200px);
}
@media screen and (max-width: 600px) {
  .home .builder-section-postlist .builder-section-content:before {
    opacity: 0.2;
    left: calc(50% - 200px);
  }
}
@media screen and (min-width: 2000px) {
  .home .builder-section-postlist .builder-section-content:before {
    width: 600px;
    height: 600px;
  }
}

.site-footer {
  position: relative;
  overflow: hidden;
}
.site-footer .container:before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 400px;
  position: absolute;
  opacity: 0.4;
  background-image: url("public/img/doodles-connection-1.png");
  right: 10px;
  top: 10px;
}
@media screen and (max-width: 600px) {
  .site-footer .container:before {
    opacity: 0.2;
    left: calc(50% - 200px);
  }
}
@media screen and (min-width: 2000px) {
  .site-footer .container:before {
    width: 750px;
    height: 600px;
  }
}
.site-footer .container > * {
  position: relative;
  z-index: 1;
}

/*---------------------------------------------------------
 Plugins
-------------------------------------------------------- */
html .calendly-badge-widget .calendly-badge-content {
  color: #222;
  white-space: nowrap;
  border-radius: 3px !important;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1em !important;
  font-weight: normal !important;
  padding: 0.6em 1.2em !important;
  vertical-align: middle !important;
  text-transform: uppercase;
}
html .calendly-badge-widget .calendly-badge-content:hover {
  background-color: #c7e600 !important;
}
@media screen and (max-width: 600px) {
  html .calendly-badge-widget {
    display: none;
  }
}
